<!-- TODO it should be called Signout and Signin instead of logout and login -->

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<html xmlns:ng="http://angularjs.org">
  <head>
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Bosch Dashboard</title>        
        
		<!-- meta text -->
        <meta name="description" content="Bosh MT Dashboard">
        <meta name="viewport" content="width=device-width, initial-scale=1">    
                 
        <base href="/"/>         
  
        <!-- libraries -->
        <script src="../lib/retina/retina.min.js"></script>      
        <script src="../lib/jquery/jquery-3.1.0.min.js"></script>
        <script src="../lib/bootstrap/bootstrap.min.js"></script>
        <script src="../lib/oboe/oboe-browser.js"></script>
         
		<!-- styles -->
		<link rel="stylesheet" href="../styles/style.css">        
        <link rel="stylesheet" href="../styles/panel.css">
        <link rel="stylesheet" href="../styles/navbar.css"> 
		<link rel="stylesheet" href="../lib/simple-sidebar/simple-sidebar.css">		
		<link rel="stylesheet" href="../lib/bootstrap/bootstrap.min.css">
		<!-- library used for drag and drop functionality in the analytics dashboard -->
		<link rel="stylesheet" href="../lib/angular-drag-and-drop-lists/angular-drag-and-drop-lists.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
   	 	
   	 	<!-- MVC Angular Classes --><!--<script type="text/javascript" src="/lib/angular/angular.min.js"></script>--><!-- datepicker-->       
		<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment-with-locales.min.js"></script>-->
		
		<!-- styles for the datepicker -->
		<!--<link rel="stylesheet" href="/lib/angular-bootstrap-datetimepicker/datetimepicker.css"/>-->
	
  </head>
  
  <body ng-app="app" ng-controller="ApplicationCtrl as vm">
    



<!-- wrapper class needed for the sidebar -->
    <div id="wrapper" class="toggled"  ng-controller="SidebarCtrl" class="sidenavdemoBasicUsage">
    
    		<!-- Sidebar takes 3 columns -->
        	<div id="sidebar-wrapper" class="sidebar">
   	
            	<div style="padding-top:98px"></div>
            	
            	<div id="departmentListCSSSideBar" style="display:none">
					<md-content  layout="column" layout-align="space-around" style="background-color:black; overflow-y: visible" >
						<md-button class="md-primary md-raised" ng-click="" > 
							Gesamt
						</md-button>
						<md-button class="md-primary md-raised" ng-click="" >
							DIY
				   		</md-button> 
				   		<md-button class="md-primary md-raised" ng-click="" >
							PRO				   			</md-button>  
			   			<md-button class="md-primary md-raised" ng-click="" >
							HG
			   			</md-button>
					</md-content>	
				</div>
            	
            	<div id="dashboardListCSSSideBar" style="display:none"  ng-controller="analyticsCtrl" -->
					<md-content layout="column" layout-align="space-around" style="background-color:black; overflow-y: visible">
						<md-button class="md-primary md-raised" ng-click="showNewDBDialog($event)"> 
							Neues Dashboard 
						</md-button>
						<!-- TODO make just one change, just add ng-click function with jquery and add color in style attribute-->
						<md-button id="newGraphButton" class="md-primary md-raised" ng-click="showAdvanced($event)">
							Neuer Graph
			   			</md-button>  
			   			<md-button id="newGraphButtonDisabled" class="md-raised" style="background-color: grey">
							Neuer Graph
			   			</md-button> 
					</md-content>	
							
					<md-card ng-repeat="x in vm.myddd track by $index" style="overflow-y: no-content">
						<md-card-actions style="padding:0px" layout="row" layout-sm="column" layout-align="end center" layout-wrap>
						  		
					  		<div ng-click="setDB(x)" layout="row" layout-align="start center" flex>
								{{x}}
								<span flex></span>
							</div>
								
							<md-icon ng-click="deleteDB(x)" md-svg-src="../icon/ic_highlight_off_black_24px.svg"></md-icon>							
						</md-card-actions>
					</md-card>										
					
				</div><!-- /#analytics-controller -->	
				
        	</div><!-- /#sidebar-wrapper -->
<!-- end wrapper class needed for the sidebar -->
        	
    		
<!-- top navigation bar -->
        	<nav ng-controller="RegisterCtrl as user">
        	
        		<ul class="topnav">
            		<div class="topnavleft" >
            			<li>
	            			<img id="logo" src="img/bosch_logo.png" alt="Bosch Logo">
	            		</li> 
	            		<li><div id="placeholder"></div></li>
	            	</div>
	            	
	            	<!--this visibility is with css visible instead of angular ng show. this is so that it is
	            	not blended in shortly when loading index.body-->
	            	<section ng-cloak id="topNavBlendInAtLogin" style="visibility: hidden">
	            		<div class="hamburger"> 
            				<li onclick="toggleNavbar()">
            					<img src="icon/hamburger.png" style="height:20px" alt="Hamburger Logo">
            				</li>
            			</div>
	            		<div class="topnavright">
							<li><a ng-click="vm.routeTo($event)" ui-sref="social" ui-sref-active="active"><img ng-src="../icon/globe.png" style="width: 20px; height: 20px"/></a></li>
							<li><a ng-click="vm.routeTo($event)" ui-sref="management" ui-sref-active="active"> Management</a></li>
 							<li><a ng-click="vm.routeTo($event)" ui-sref="analytics" ui-sref-active="active"> Analytics</a></li>	
	 						<li><a ng-click="vm.routeTo($event)" ui-sref="hilfe" ui-sref-active="active"> Hilfe</a></li>				   		
							<li><a ng-click="vm.routeTo($event)" id="signedInAs" style="color:lightgrey"> {{vm.username}}, Zugriff {{vm.useraccess}}</a></li>
							<li><a ng-click="vm.routeTo($event)" ui-sref="signout" ui-sref-active="active"> Abmelden</a></li>
            			</div>
            		</section>
           		</ul>
           		
           		<ul id="smallNavBlendInAtLogin" class="smallnav" ng-cloak>
	      	  		<li><a ui-sref="social" ui-sref-active="active"><img ng-src="../icon/globe.png" style="width: 20px; height: 20px"/></a></li>
					<li><a ui-sref="management" ui-sref-active="active"> Management</a></li>
					<li><a ui-sref="analytics" ui-sref-active="active"> Analytics</a></li>	
 					<li><a ui-sref="hilfe" ui-sref-active="active"> Hilfe</a></li>				   		
					<li><a ui-sref="konto" ui-sref-active="active"> Mein Konto</a></li>
					<li><a ui-sref="signout" ui-sref-active="active"> Abmelden</a></li> <!--ng-click="user.logout()"-->
           		</ul> 
           	</nav>
<!-- end top navigation bar -->			
			
			
			<!-- this is used to insert the graph box at div with id #some-id -->
			<!--<div id="some-id"></div>-->
			
			
			
			
<!-- angular overlay, left sidebar menu -->
			<md-sidenav ng-cloak class="md-sidenav-left" md-component-id="left" md-whiteframe="1" style="background-color:#000000">
				<div id="closeNgSidebar">
					<img style="display:none" ng-click="close()" src="icon/closeicon.png" style="height:20px; margin-top:15px; margin-right:15px" alt="Close Logo">
            	
					<div style="padding-top:98px"></div>
				</div>
            	
            	<div id="departmentListAOSideBar" style="display:none">
					<md-content  layout="column" layout-align="space-around" style="background-color:black; overflow-y: visible" >
						<md-button class="md-primary md-raised" ng-click="" > 
							Gesamt
						</md-button>
						<md-button class="md-primary md-raised" ng-click="" >
							DIY
				   		</md-button> 
				   		<md-button class="md-primary md-raised" ng-click="" >
							PRO				   			
						</md-button>  
			   			<md-button class="md-primary md-raised" ng-click="" >
							HG
			   			</md-button>
					</md-content>	
				</div>
            	
            	<div id="dashboardListAOSideBar" style="display:none" ng-controller="analyticsCtrl">  	
					<md-content layout="column" layout-align="space-around" style="background-color:black; overflow-y: visible">
						<md-button class="md-primary md-raised" ng-click="showNewDBDialog($event)"> 
							Neues Dashboard 
						</md-button>
						<md-button class="md-primary md-raised" ng-click="showAdvanced($event)">
							Neuer Graph
			   			</md-button>   
					</md-content>	
							
					<md-card ng-repeat="x in vm.myddd track by $index" style="overflow-y: no-content">
						<md-card-actions style="padding:0px" layout="row" layout-sm="column" layout-align="end center" layout-wrap>
						  		
					  		<div ng-click="setDB(x)" layout="row" layout-align="start center" flex>
								{{x}}
								<span flex></span>
							</div>
								
							<md-icon ng-click="deleteDB(x)" md-svg-src="../icon/ic_highlight_off_black_24px.svg"></md-icon>							
						</md-card-actions>
					</md-card>										
					
				</div><!-- /#analytics-controller -->
			</md-sidenav>	
				
<!--	    		<div id="departmentListAOSideBar"  style="background-color:#000000; padding-top:49px; display:none" ng-controller="LeftCtrl">
      	  			<img ng-click="close()" src="icon/closeicon.png" style="height:20px; float:right; margin-top:15px; margin-right:15px" alt="Close Logo">
     				<ul ng-cloak class="sidebar-nav" padding-left:10%; float:left">
                		<li class="sidebar-brand" ><a ng-show="vm.showGesamt" ng-click="vm.setAccess('Gesamt')" ui-sref-active="active"> Gesamt </a></li>
						<li class="sidebar-brand" ><a ng-show="vm.showDIY"    ng-click="vm.setAccess('DIY')"    ui-sref-active="active"> DIY    </a></li>
						<li class="sidebar-brand" ><a ng-show="vm.showPRO"    ng-click="vm.setAccess('PRO')"    ui-sref-active="active"> PRO    </a></li>
						<li class="sidebar-brand" ><a ng-show="vm.showHG"     ng-click="vm.setAccess('HG')"     ui-sref-active="active"> HG     </a></li>
            		</ul>
        		</div>

        		<div id="dashboardListAOSideBar" ng-controller="analyticsCtrl" style="background-color:#000000; padding-top:49px; display: none">      
					<img ng-click="close()" src="icon/closeicon.png" style="height:20px; float:right; margin-top:15px; margin-right:15px" alt="Close Logo">
					<md-content style="background-color:#000000">
				   		<md-button class="md-primary md-raised" ng-click="showAdvanced($event)" style="min-width: 170px">
				   			Neuer Graph
				   		</md-button>
				   	</md-content> 
				   	<!-- </div> style="padding-bottom:10px" -->   
<!--				      
					<md-content>
						<md-button class="md-primary md-raised" ng-click="showNewDBDialog($event)" style=" min-width: 170px"> 
							Neues Dashboard 
						</md-button>
					</md-content>
					
					<!--<p ng-repeat="x in vm.myddd track by $index">{{x}}</p>-->
<!--				<md-content ng-repeat="x in vm.myddd track by $index">
						<md-card ng-click="setDB(x)">	
							<md-card-content>
							<!--<section style="max-height:20px">-->
							<!--	{{x}}<img style="float:right" hight="15" width="15" src="/icon/minus_circle.png" ng-click="deleteDB(x)"/>-->
							<!--</section>-->
<!--						</md-card-content>
						</md-card>
					</md-content>		          
				</div>
-->      		
    		
<!-- end angular overlay, left sidebar menu -->    		
    		
	
	
	
	
<!-- toggle button for the sidebar and ui-router ng-views -->
			<div class="container-fluid">
				<div class="row">
				
					<!-- set true or false within the ApplicationCtrl scope -->
					<div class="menu-toggle-wrapper" ng-cloak> 
						<!-- id menu toggle is to open and close sidebar in scripts with jquery -->
						<!-- id menu toggle is also used to hide the element in app.js -->
						<img style="visibility:hidden" id="menu-toggle" class="menu-toggle" src="/icon/right_circle.png" alt="menu-toggle" ng-click="toggleLeft()"/>
					</div>
					
					<!-- this is the wrapper for the main view, the wrapper sets the padding for ui-view -->
					<div class="ui-view-wrapper">
						<div class="row">
						<!--<md-button class="md-primary " ng-click="vm.initDBTest()" > 
							InitDBTest
						</md-button>	-->												
							<!--
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
								<div ui-view="index-southeast"></div>
							</div>
							-->
							
							<!-- the page grid-layout is defined here, the ui-views layout must respect the index.ejs grid system -->
							<div id="index-center" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
								<div ui-view="index-center"></div>
							</div>			
							
							<!-- the page grid-layout is defined here, the ui-views layout must respect the index.ejs grid system -->
							<div id="index-analytics" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
								<div ui-view="index-analytics"></div>
							</div>	
							
				    	</div><!-- row end -->
					</div><!-- ui-view wrapper end -->
					
				</div><!-- row end -->
			</div>
<!-- end toggle button for the sidebar and ui-router ng-views -->


	</div><!-- wrapper/content end-->
	
	<!-- Chart Updater -->

	
	<!--<script src="/lib/moment/moment.min.js"></script>
	<script>
    	moment().format();
	</script>	-->	
	
	<!-- dates -->
	<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment-with-locales.min.js"></script>
	-->
	<!-- angular -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.1/angular-material.min.css">
	
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-drag-and-drop-lists/1.4.0/angular-drag-and-drop-lists.min.js"></script>  
        
	<script type="text/javascript" src="/lib/angular-ui-router/angular-ui-router.min.js"></script>	
	<script type="text/javascript" src="/lib/ct-ui-router-extras/ct-ui-router-extras.min.js"></script>		
	
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular-animate.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular-aria.min.js"></script>
	<script type="text/javascript" src="/lib/angular-messages/angular-messages.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.1/angular-material.min.js"></script>
	
	<!-- Angular additional libraries, these are necessary for the frontend with material -->
	<!--<script type="text/javascript" src="/lib/angular-animate/angular-animate.min.js"></script>-->
	<!--<script type="text/javascript" src="/lib/angular-aria/angular-aria.min.js"></script>	-->	
	<!--<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js">-->
	<!--<script src="http://ngmaterial.assets.s3.amazonaws.com/svg-assets-cache.js"></script>-->
	<!--<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.7/angular-material.min.js"></script>-->			
  
	<!-- angular logic -->		
	<script type="text/javascript" src="/ng/svg-assets-cache/svg-assets-cache.client.module.js"></script>	
	
	<script type="text/javascript" src="/ng/animate/animate.client.module.js"></script> 
  	<script type="text/javascript" src="/ng/animate/animate.client.controller.js"></script>  
  	
  	<script type="text/javascript" src="/ng/datepicker/datepicker.client.module.js"></script> 
  	<script type="text/javascript" src="/ng/datepicker/datepicker.client.controller.js"></script>
  	
  	<!--
  	<script type="text/javascript" src="/ng/graphdata/graphdata.client.module.js"></script>
	<script type="text/javascript" src="/ng/graphdata/graphdata.client.controller.js"></script>		
	<script type="text/javascript" src="/ng/graphdata/graphdata.svc.js"></script>-->
	
	<script type="text/javascript" src="/ng/graphpicker/graphpicker.client.module.js"></script>

	<script type="text/javascript" src="/ng/management/management.client.module.js"></script>
	<script type="text/javascript" src="/ng/management/management.svc.js"></script>
	<script type="text/javascript" src="/ng/management/management.client.controller.js"></script>
	
	<script type="text/javascript" src="/ng/material/material.client.module.js"></script>
	<script type="text/javascript" src="/ng/material/material.client.controller.js"></script>
  	  
	<script type="text/javascript" src="/ng/post/post.client.module.js"></script>
	<script type="text/javascript" src="/ng/post/post.svc.js"></script>
	<script type="text/javascript" src="/ng/post/post.client.controller.js"></script>
		
	<script type="text/javascript" src="/ng/register/register.client.module.js"></script>
	<script type="text/javascript" src="/ng/register/register.svc.js"></script>
	<script type="text/javascript" src="/ng/register/register.client.controller.js"></script>
	
	<script type="text/javascript" src="/ng/sidebar/sidebar.client.module.js"></script>
	<script type="text/javascript" src="/ng/sidebar/sidebar.client.controller.js"></script>
	
	<script type="text/javascript" src="/ng/dragndrop/dragndrop.client.module.js"></script>	
	<!--<script type="text/javascript" src="/ng/kategorie/kategorie.client.module.js"></script>-->
	
	<script type="text/javascript" src="/ng/analytics/analytics.client.module.js"></script>
	<script type="text/javascript" src="/ng/analytics/analytics.svc.js"></script>
	<script type="text/javascript" src="/ng/analytics/dashboard.svc.js"></script>
	<script type="text/javascript" src="/ng/analytics/analytics.client.controller.js"></script>
	
	<!--
	<script type="text/javascript" src="/ng/analytics/analytics.client.controller.js"></script>
	<script type="text/javascript" src="/ng/analytics/analytics.svc.js"></script>
	
	<script type="text/javascript" src="/ng/newGraphDialog/newGraphDialog.client.module.js"></script>
	<script type="text/javascript" src="/ng/newGraphDialog/newGraphDialog.svc.js"></script>
	<script type="text/javascript" src="/ng/newGraphDialog/newGraphDialog.client.controller.js"></script>
	-->
	
	<script type="text/javascript" src="/app.js"></script>	
		
	<!-- angular routes configurator -->	
	<script type="text/javascript" src="/ng/ui.router/ui.router.client.config.js"></script>
    
    <!-- jquery scripts -->
	<!-- box creation of a draggable angular.module('analytics', ['ngMaterial'])graph  box -->
	<!--<script type="text/javascript" src="/scripts/draggable/draggable.js"></script>-->
	<!-- for the menu toggle -->
  	<script type="text/javascript" src="/scripts/menutoggle/menutoggle.js"></script>
  	<!-- navbar responsive, this is with jquery for highest customization option -->
  	<script type="text/javascript" src="/scripts/responsive/responsive.js"></script>
  	
  	<!-- highcharts -->
  	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/highcharts-3d.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	<!--<script type="text/javascript" src="/scripts/setUpCharts/setUpCharts.js"></script>-->
	
	<script type="text/javascript" src="/scripts/updateChart/updateChart.js"></script>
    
  </body>
</html>