<!-- angualar-lodash -->
<script src="/lib/lodash/lodash.min.js"></script>

<style>
	/* this is important! Set the height to your need */
	.md-virtual-repeat-container{
		height: 350px;
	}
	thead, tbody tr {
		table-layout:fixed;/* even columns width , fix width of table too*/
	}	

</style>

<div ng-controller="analyticsCtrl">

	<!--<p>Aktuelles Dashboard: {{currentDB}}</p>-->
	<p>Aktuelles Dashboard: {{CDB}}</p>

	<md-content class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">		
		<!--graphs-->			
		<div ng-repeat="x in mygraphs track by $index" layout-margin>						
			<!--<div class="slide-animate" ng-include="./graphs/3dGraph.ejs"></div>-->
			<!--Die Id lautet:  {{x.dashboard}}_{{x.name}}. Buttons zum schließen, vergrößern, verkleinern, zoomen-->
			<!--<md-content class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">-->	
			
			<!--graph-->
			<md-card style:"padding:8px">
				<md-card-actions  id="{{x.dashboard}}_{{x.name}}_card_actions" style="display: none" layout="row" layout-sm="column" layout-align="end center" layout-wrap>
					<div ng-click="setDB(x)" layout="row" layout-align="start center" flex>
						{{x.name}}
						<span flex></span>
						<md-icon ng-click="deleteGraph(x.dashboard, x.name)" md-svg-src="../icon/ic_highlight_off_black_24px.svg"></md-icon>
						<md-icon ng-click="zoomout(x.dashboard, x.name)" md-svg-src="../icon/ic_remove_from_queue_black_24px.svg"></md-icon>
						<md-icon ng-click="zoomin(x.dashboard, x.name)" md-svg-src="../icon/ic_add_to_queue_black_24px.svg"></md-icon>
					</div>
				</md-card-actions>
				<div style="display:none; height:400px" id="{{x.dashboard}}_{{x.name}}"></div>
				<div style="height:400px" id="{{x.dashboard}}_{{x.name}}_loader" layout="row" layout-align="center center">
					<div class="loader">
					</div>
				</div>	
			</md-card>						
						
			<md-content style = "background-color: #ffffff">
				<div layout-margin id="{{x.dashboard}}_{{x.name}}_datatable" style="visibility:hidden">
					<!--data table-->
					<div>
						<md-card>
							<md-input-container style="margin:15px;">
								<label>Suchfilter fixed data table</label>
								<input type="text" ng-model="filterTable">
							</md-input-container>		
							<div ng-hide="true">
								{{(filteredItems = (datatable | filter: filterTable))}}
							</div>
						</md-card>
					</div>
					
					<div style="padding:8px">
						<mdt-table 
							table-card="{visible: true, title: 'Search Console', columnSelector: true}"
						    selectable-rows="true"
             				alternate-headers="'contextual'"             
         					delete-row-callback="deleteRowCallback(rows)"
         					selected-row-callback="selectedRowCallback(rows)"
							virtual-repeat="true"
							animate-sort-icon="true"
							sortable-columns="true"
							mdt-row="{data: filteredItems,'column-keys': ['land', 'seite', 'protein','sodium','calcium','iron']}">
							
							<mdt-header-row>
								<mdt-column align-rule="left"
											exclude-from-column-selector="true"
							                  column-sort="true">Begriff</mdt-column>
							    <mdt-column align-rule="left"
							                  column-sort="true">Land</mdt-column>
							    <mdt-column align-rule="right"
							                  column-sort="true">Klicks</mdt-column>
							    <mdt-column align-rule="right"
							                  column-sort="true">Impressionen</mdt-column>
							    <mdt-column align-rule="right"
							    			  column-sort="true">Klickrate</mdt-column>
							    <mdt-column align-rule="right"
							    			  column-sort="true">Position</mdt-column>
						    </mdt-header-row>
						        						
						</mdt-table>	
					</div>	
					<!--<md-button ng-click="click()">Top</md-button>-->
				</div><!-- layout margin -->
			</md-content>

		</div><!-- end of ng-repeat graph and datatable area -->
	</md-content>		
</div>

<!--

<md-content style = "background-color: #ffffff">
				<div layout-margin id="{{x.dashboard}}_{{x.name}}_datatable" style="visibility:visible">
					<!--data table--><!--
					<div>
						<md-card>
							<md-input-container style="margin:15px;">
								<label>Suchfilter fixed data table</label>
								<input type="text" ng-model="filterTable">
							</md-input-container>		
							<div ng-hide="true">
								{{(filteredItems = (nutritionList | filter: filterTable))}}
							</div>
						</md-card>
					</div>
					
					<div style="padding:8px">
						<mdt-table 
							virtual-repeat="true"
							animate-sort-icon="true"
							sortable-columns="true"
							mdt-row="{data: filteredItems,'column-keys': ['name','calories','fat','carbs','protein','sodium','calcium','iron']}">
							<mdt-header-row>
							    <mdt-column align-rule="left"
							                  column-sort="true">Dessert (100g serving)</mdt-column>
							    <mdt-column align-rule="right"
							                  column-sort="true">Calories</mdt-column>
							    <mdt-column align-rule="right"
							                  column-sort="true">Fat (g)</mdt-column>
							    <mdt-column align-rule="right"
							                  column-sort="true">Carbs (g)</mdt-column>
							    <mdt-column align-rule="right"
							                  column-sort="true">Protein (g)</mdt-column>
							    <mdt-column align-rule="right"
							                  column-sort="true">Sodium (mg)</mdt-column>
							    <mdt-column align-rule="right"
							    			  column-sort="true">Calcium (%)</mdt-column>
							    <mdt-column align-rule="right"
							    			  column-sort="true">Iron (%)</mdt-column>
						    </mdt-header-row>			
						</mdt-table>	
					</div>	
				</div><!-- layout margin --><!--
			</md-content>





	<md-content layout = "row" class="col-xs-12 col-sm-12 col-md-12 col-lg-12	col-xl-12"  style = "background-color: #ffffff">
		<div layout-margin>
			<!--data table--><!--
			<div>
				<md-card>
					<md-input-container style="margin:15px;">
						<label>Suchfilter fixed data table</label>
						<input type="text" ng-model="filterName">
					</md-input-container>		
					<div ng-hide="true">
						{{(filteredItems = (nutritionList | filter: filterName))}}
					</div>
				</md-card>
			</div>
			
			<div style="padding:8px">
				<mdt-table 
					virtual-repeat="true"
					animate-sort-icon="true"
					sortable-columns="true"
					mdt-row="{data: filteredItems,'column-keys': ['name','calories','fat','carbs','protein','sodium','calcium','iron']}">
					<mdt-header-row>
					    <mdt-column align-rule="left"
					                  column-sort="true">Dessert (100g serving)</mdt-column>
					    <mdt-column align-rule="right"
					                  column-sort="true">Calories</mdt-column>
					    <mdt-column align-rule="right"
					                  column-sort="true">Fat (g)</mdt-column>
					    <mdt-column align-rule="right"
					                  column-sort="true">Carbs (g)</mdt-column>
					    <mdt-column align-rule="right"
					                  column-sort="true">Protein (g)</mdt-column>
					    <mdt-column align-rule="right"
					                  column-sort="true">Sodium (mg)</mdt-column>
					    <mdt-column align-rule="right"
					    			  column-sort="true">Calcium (%)</mdt-column>
					    <mdt-column align-rule="right"
					    			  column-sort="true">Iron (%)</mdt-column>
				    </mdt-header-row>			
				</mdt-table>	
			</div>	
		</div><!-- layout margin --><!--
	</md-content>
<div layout = "row">
	<md-content class="col-xs-12 col-sm-12 col-md-12 col-lg-12	col-xl-12" >
		<div class="simpleDemo" ng-controller="SimpleDemoController" >
		
		<!--Graph, dieser graph bezieht seine Daten aus dem Call an die Datenbank
			<md-card>
		    <ul dnd-list="list">
		        <li ng-repeat="item in models.lists.A"
		            dnd-draggable="item"
		            dnd-moved="models.lists.A.splice($index, 0)"
		            dnd-effect-allowed="move"
		            dnd-selected="models.selected = item"
		            ng-class="{'selected': models.selected === item}">
		            {{item.label}}
		        </li>
		    </ul>
		    <ul dnd-list="list">
		        <li ng-repeat="item in models.lists.B"
		            dnd-draggable="item"
		            dnd-moved="models.lists.B.splice($index, 0)"
		            dnd-effect-allowed="move"
		            dnd-selected="models.selected = item"
		            ng-class="{'selected': models.selected === item}">
		            {{item.label}}
		        </li>
		    </ul>
		    </md-card>
		</div>
	</md-content>
</div>
-->

<!--
<div layout="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12	col-xl-12" style="padding-top:50px">	
		<md-content>  		
	    	<md-card>   	
	   			<md-card-title-text layout>
	           		<span class="md-headline">Visualisierung von Daten</span>
	        	</md-card-title-text>
	   			<img ng-src="../img/charts/Charts00.jpg" class="md-card-image" alt="Charts00">
	   			<img ng-src="../img/charts/Charts01.jpg" class="md-card-image" alt="Charts01">
	   			<img ng-src="../img/charts/Charts02.jpg" class="md-card-image" alt="Charts02">
	   			<img ng-src="../img/charts/Charts03.jpg" class="md-card-image" alt="Charts03">
	   			<img ng-src="../img/charts/Charts04.jpg" class="md-card-image" alt="Charts04">
	   			<img ng-src="../img/charts/Charts05.jpg" class="md-card-image" alt="Charts05">
	   			<img ng-src="../img/charts/Charts06.jpg" class="md-card-image" alt="Charts06">
	   			<img ng-src="../img/charts/Charts07.jpg" class="md-card-image" alt="Charts07">
	   			<img ng-src="../img/charts/Charts08.jpg" class="md-card-image" alt="Charts08">	
	    		<img ng-src="../img/charts/Charts09.jpg" class="md-card-image" alt="Charts09">
	   			<img ng-src="../img/charts/Charts10.jpg" class="md-card-image" alt="Charts10">
	   			<img ng-src="../img/charts/Charts11.jpg" class="md-card-image" alt="Charts11">
	   			<img ng-src="../img/charts/Charts12.jpg" class="md-card-image" alt="Charts12">
	 			<img ng-src="../img/charts/Charts13.jpg" class="md-card-image" alt="Charts13">
	   			<img ng-src="../img/charts/Charts14.jpg" class="md-card-image" alt="Charts14">
	   			<img ng-src="../img/charts/Charts15.jpg" class="md-card-image" alt="Charts15">
	   			<img ng-src="../img/charts/Charts16.jpg" class="md-card-image" alt="Charts16">   	    	
	   		</md-card>	
	   	</md-content>	
	</div>
</div>
-->



