<!-- this is the general date picker -->
<div style="padding-top:15px" ng-controller="DatepickerCtrl as vm">

		
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">
	<p class="md-body-2 text-center">Zeitrahmen</p>
		<md-input-container style="float:left">
        	<label>Von</label>
        	<md-datepicker ng-model="graphSetting.startDate"></md-datepicker>
    	</md-input-container>
	
		<md-input-container>
        	<label>Bis</label>
        	<md-datepicker ng-model="graphSetting.endDate"></md-datepicker>
    	</md-input-container>
	</div>
      	
</div>