<div>Example Client</div>

<section ng-controller=ShowController>

	<input type=text id=text1 ng-model=name>
	<input type=text id=text2 ng-model=name>
	
<section>

<section ng-controller=AnimateController>
	
	<br>
	
	<label>
		<button ng-click="boxHidden=!boxHidden">
			Toggle Visibility
		</button>
	</label>

	<div class="animated-container" ng-hide="boxHidden" ng-cloak>
		<button ng-click="boxHidden=!boxHidden">
			Toggle Visibility
		</button>
	</div>
	
	<br>	
	
	<label>
		<button ng-click="box1Hidden=!box1Hidden">
			Toggle Visibility
		</button>
	</label>

	<br>

	<div class="animated-container" ng-hide="box1Hidden" ng-cloak>
		<button ng-click="box1Hidden=!box1Hidden">
			Toggle Visibility
		</button>
	</div>

	<br>	

    <button ng-click="displayToggle=!displayToggle">
    		Toggle Visibility
    </button>
    
    <br>
    
    <div class="slide-tile" ng-show="displayToggle">
    	Slide me up and down!
    </div>

</section>

<a href="/signout">Sign out</a>
