



<div layout="row" layout-wrap flex layout-fill layout-align="start start" ng-controller="AngulardateCtrl">
    
   
    <md-input-container flex="100" layout="column">
          <div style="font-size: 10px; color: blue;" label ng-bind="::dateFields[2].label"></div>
          <md-datepicker ng-model="dateFields.selectedDate"
                     ng-required="dateFields.required"
                     md-date-locale="dateFields.locale"
                   
                     md-open-on-focus="true">
        </md-datepicker>
    </md-input-container>
</div>

</div>

