<div ng-controller="ManagementCtrl as vm" ng-cloak>
	
	<p style="background-color:white">{{useraccess}}</p>
	
	<md-content class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">		
		<md-card style:"padding:8px">
			<div id="managementLoader" style="height:400px; display:none; margin: auto auto;padding-top:120px" layout="row" layout-align="center center">
				<div class="loader" >
				</div>
			</div>	
		</md-card>
	</md-content>
	
	
	<div id="managementCards" style="visibility:visible">
		
		<div id="managementDatepicker" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 center-block" >
			<md-content layout-padding style="background-color:white" layout="row" layout-align="center center">  
	        	<md-input-container layout-align="center end">
	           		<label>Von</label>
	           		<md-datepicker ng-model="mmdbStartDate" ng-change="vm.refreshManagementDB(true)"></md-datepicker>
	       		</md-input-container>    
	      		<md-input-container layout-align="center end">
	           		<label>Bis</label>
	           		<md-datepicker ng-model="mmdbEndDate" ng-change="vm.refreshManagementDB(false)"></md-datepicker>
	       		</md-input-container>
	        </md-content>
	    </div>
	        
	   <!-- 
	    <md-card ng-repeat="x in vm.myddd track by $index" style="overflow-y: no-content">
			<md-card-actions style="padding:0px" layout="row" layout-sm="column"  layout-wrap>						  		
				<div ng-click="setDB(x)" layout="row" layout-align="start center" flex>
					{{x}}
					<span flex></span>
				</div>				
				<md-icon ng-click="deleteDB(x)" md-svg-src="../icon/ic_highlight_off_black_24px.svg"></md-icon>							
			</md-card-actions>
		</md-card>						
		-->							
	
		<!--Umsatz ist nun pageview -->
		<div id="managementCard0" class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
		
			<md-content layout-padding style="background-color:white">  
	      		<md-card>
	       			<img ng-click="vm.toggleUmsatz()" ng-show="vm.imageUmsatzShow" ng-src="{{vm.imagePath}}" class="md-card-image" alt="Umsatz">
	       			
	       			<!-- blend in the number for the revenue -->
	       			<div ng-click="vm.toggleUmsatz()" ng-hide="vm.imageUmsatzShow" class="text-center" style="height:100px; padding-top:50px; padding-bottom:80px">
	       				<md-card-content>
	        	 			<p class="md-headline">{{vm.umsatz.Gesamt}}</p>
	        			</md-card-content>       			
	       			</div>
	       			
	       			<!-- title revenue and show percentage-->
	      			<md-card-title style="padding-left:15px; padding-top:15px">
	       				 <md-card-title-text>
	        		 		<span class="md-headline">Pageviews</span><span class="md-headline" style="float:right; padding-right:15px" ng-hide="vm.imageUmsatzShow">{{vm.percentUmsatz}}</span>
	          			</md-card-title-text>
	        		</md-card-title>
	        		
	        		<!-- have the percentages here for the revenue 
	        		<md-card-content>
	          			<p md-body-2 ng-hide="vm.imageUmsatzShow">{{vm.percentUmsatz}}</p>
	        		</md-card-content>
	        		-->
					<md-card-actions style="padding:0px" layout="row" layout-sm="row" layout-align="end center" layout-wrap>
							  		
						<div layout="row" layout-align="start center" flex>								
							<md-icon md-svg-src="../icon/ic_equalizer_black_24px.svg"></md-icon><!-- show graph -->
							<span flex></span>
						</div>							
							<md-icon ng-click="vm.zoomout('managementCard0')" md-svg-src="../icon/ic_remove_from_queue_black_24px.svg"></md-icon><!-- minimize -->
							<md-icon ng-click="vm.zoomin('managementCard0')" md-svg-src="../icon/ic_add_to_queue_black_24px.svg"></md-icon><!-- maximize -->
					</md-card-actions>
						
				
	        		<!-- toggle button umsatz -->	<!--
	        		<md-card-actions layout="row" layout-align="end center"style="padding-top:20px">
	        			<md-card-icon-actions>
	          				<md-button ng-click="vm.minimize()">Minimize</md-button> 
	          				<md-button ng-click="vm.toggleUmsatz()">{{vm.toggleButtonUmsatz}}</md-button>            			
	          				<!-- blend in the graph -->	<!--
	          				<a ui-sref="{{vm.graphTemplate}}" style="float:right; padding-top:10px; padding-right:15px">	
	          					<md-icon md-svg-icon={{vm.graphIconPath}} alt="Leads Graph Icon"></md-icon>          				
	          				</a>   
	          			</md-card-icon-actions>
	        		</md-card-actions>
	        		-->
	        		
	      		</md-card>
	      	</md-content>
		</div>
		
		<div id="managementCard1" class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
			<md-content layout-padding style="background-color:white">  
	      		<md-card>
	       			<img ng-click="vm.toggleVisits()" ng-show="vm.imageVisitsShow" ng-src="{{vm.imagePath}}" class="md-card-image" alt="Visits">
	       			
	       			<!-- blend in the number for the visits -->
	       			<div ng-click="vm.toggleVisits()" ng-hide="vm.imageVisitsShow" class="text-center" style="height:100px; padding-top:50px; padding-bottom:80px">
	       			 	<md-card-content>
	        				<p class="md-headline">{{vm.visits.Gesamt}}</p>
	          			</md-card-content>
	       			</div>
	       			
	       			<!-- title visits and show percentage-->
	      			<md-card-title style="padding-left:15px; padding-top:15px">
	       				 <md-card-title-text>
	        		 		<span class="md-headline">Visits</span><span class="md-headline" style="float:right; padding-right:15px" ng-hide="vm.imageVisitsShow">{{vm.percentVisits}}</span>
	          			</md-card-title-text>
	        		</md-card-title>
	
	        		
	        		<!-- toggle button visits -->
					<md-card-actions style="padding:0px" layout="row" layout-sm="row" layout-align="end center" layout-wrap>
							  		
						<div layout="row" layout-align="start center" flex>								
							<md-icon md-svg-src="../icon/ic_equalizer_black_24px.svg"></md-icon><!-- show graph -->
							<span flex></span>
						</div>							
							<md-icon ng-click="vm.zoomout('managementCard1')" md-svg-src="../icon/ic_remove_from_queue_black_24px.svg"></md-icon><!-- minimize -->
							<md-icon ng-click="vm.zoomin('managementCard1')" md-svg-src="../icon/ic_add_to_queue_black_24px.svg"></md-icon><!-- maximize -->
					</md-card-actions>
					
	      		</md-card>
	   		</md-content>
		</div>
		
		<div id="managementCard2" class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
			<md-content layout-padding style="background-color:white">  
	      		<md-card>
	       			<img ng-click="vm.toggleLeads()" ng-show="vm.imageLeadsShow" ng-src="{{vm.imagePath}}" class="md-card-image" alt="Leads">
	       			
	       			<!-- blend in the number for the leads -->
	       			<div ng-click="vm.toggleLeads()" ng-hide="vm.imageLeadsShow" class="text-center" style="height:100px; padding-top:50px; padding-bottom:80px">
	       				<md-card-content>
	        		 			<p class="md-headline">{{vm.leads.Gesamt}}</p>
	        			</md-card-content>       			
	       			</div>
	       			
	       			<!-- title leads and show percentage-->
	      			<md-card-title style="padding-left:15px; padding-top:15px">
	       				 <md-card-title-text>
	        		 		<span class="md-headline">Visitors</span><span class="md-headline" style="float:right; padding-right:15px" ng-hide="vm.imageLeadsShow">{{vm.percentLeads}}</span>
	          			</md-card-title-text>
	        		</md-card-title>
	
	        		
	        		<!-- toggle button leads -->
					<md-card-actions style="padding:0px" layout="row" layout-sm="row" layout-align="end center" layout-wrap>
							  		
						<div layout="row" layout-align="start center" flex>								
							<md-icon md-svg-src="../icon/ic_equalizer_black_24px.svg"></md-icon><!-- show graph -->
							<span flex></span>
						</div>							
							<md-icon ng-click="vm.zoomout('managementCard2')" md-svg-src="../icon/ic_remove_from_queue_black_24px.svg"></md-icon><!-- minimize -->
							<md-icon ng-click="vm.zoomin('managementCard2')" md-svg-src="../icon/ic_add_to_queue_black_24px.svg"></md-icon><!-- maximize -->
					</md-card-actions>
	        		
	      		</md-card>
	   		</md-content>
		</div> 
	
	</div>	
</div>



<!--
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be foundin the LICENSE file at http://material.angularjs.org/HEAD/license.
-->
