<md-dialog aria-label="Neues Dashboard"> <!--  ng-controller="DialogCtrl" -->
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools" style="background-color:black">
        <h2>Neues Dashboard</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Fenster schließen"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
      
      	  <md-input-container>
            <label>Name</label>
            <input ng-model="selectedNameDB">
      	  </md-input-container>
      
          <md-input-container class="md-block" flex-gt-sm="">
            <label>Kategorie</label>
            <md-select ng-model="selectedKategorieDB">
              <md-option ng-repeat="kategorie in kategories" ng-value="kategorie.abbrev">
                {{kategorie.abbrev}}
              </md-option>
            </md-select>
          </md-input-container>
   
      </div>
      
    </md-dialog-content>
    
    <md-dialog-actions layout="row">
    	<span flex></span>
    	<div style="padding-right:15px; padding-bottom:15px">
    		<md-button ng-click="answer('')">
        		Erstellen
      		</md-button>
      	</div>
    </md-dialog-actions>

  </form>
</md-dialog>
