<md-dialog aria-label="Neuer Graph"> <!--  ng-controller="DialogCtrl" -->
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools" style="background-color:black">
        <h2>Neuer Graph</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Fenster schließen"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
      
      	  <md-input-container  class="md-block" flex-gt-sm="">
            <label>Name</label>
            <input ng-model="selectedName">
      	  </md-input-container>
      
          <md-input-container class="md-block" flex-gt-sm="">
            <label>Kategorie</label>
            <md-select ng-model="selectedKategorie">
              <md-option ng-repeat="kategorie in kategories" ng-value="kategorie.abbrev">
                {{kategorie.abbrev}}
              </md-option>
            </md-select>
          </md-input-container>
          
          <md-input-container class="md-block" flex-gt-sm="">
            <label>Graph</label>
            <md-select ng-model="selectedGraph">
              <md-option ng-repeat="graph in graphs" ng-value="graph.abbrev">
                {{graph.abbrev}}
              </md-option>
            </md-select>
          </md-input-container>
          
          <md-input-container class="md-block" flex-gt-sm="">
            <label>Method</label>
            <md-select ng-model="selectedMethod">
              <md-option ng-repeat="method in methods" ng-value="method.abbrev">
                {{method.abbrev}}
              </md-option>
            </md-select>
          </md-input-container>
          
          <md-input-container class="md-block" flex-gt-sm="">
            <label>Profiles</label>
            <md-select ng-model="selectedProfile">
              <md-option ng-repeat="profile in profiles" ng-value="profile.abbrev">
                {{profile.abbrev}}
              </md-option>
            </md-select>
          </md-input-container>
          
          <md-input-container>
            <label>Von</label>
            <md-datepicker ng-model="startDate"></md-datepicker>
          </md-input-container>
          
          <md-input-container>
            <label>Bis</label>
            <md-datepicker ng-model="endDate"></md-datepicker>
          </md-input-container>

   
      </div>
      
    </md-dialog-content>
    
    <md-dialog-actions layout="row">
    	<span flex></span>
    	<div style="padding-right:15px; padding-bottom:15px">
    		<md-button ng-click="answer('')">
        		Erstellen
      		</md-button>
      	</div>
    </md-dialog-actions>

  </form>
</md-dialog>
