<div ng-controller="RegisterCtrl as user" layout="column" ng-cloak="" class="inputdemoErrors">
<!--ng-controller="materialHilfeController"--> 

  <md-content layout-padding="" style="background-color:white">
	<form name="loginForm" ng-submit="user.registerSubmit()">
	

	<div layout="row">

      	<md-input-container class="md-block" flex="30">
          <label>Name</label>
          <input md-maxlength="30" required="" md-no-asterisk="" name="clientName" ng-model="user.name ">
          <div ng-messages="registerForm.clientName.$error">
            <div ng-message="required">Ein Benutzername wird benötigt</div>
            <div ng-message="md-maxlength">Der Name darf höchstens 30 Zeichen lang sein.</div>
          </div>
      	</md-input-container>
      	      
        <md-input-container class="md-block" flex="50">
          <label>Passwort</label>
          <input required="" name="clientPassword" ng-model="user.password" type="password">
          <div ng-messages="registerForm.clientPassword.$error">
            <div ng-message="required">Ein Passwort wird benötigt</div>
          </div>
        </md-input-container>   
        
	</div>
	
	
	<div layout="row">
      	<md-input-container class="md-block" flex="30">
          	<label>Rechtevergabe</label>
          	<md-select name="clientRights" ng-model="user.rights" required="">
    	        <md-option value="Gesamt">Gesamt</md-option>
	            <md-option value="DIY">DIY</md-option>
            	<md-option value="PRO">PRO</md-option>
        	  	<md-option value="HG">HG</md-option>
    	   	</md-select>
	    </md-input-container> 
	<!--</div>
	
    <div layout="row">  -->
       	<md-input-container class="md-block" flex="50">
          <label>Email</label>
          <input required="" type="email" name="clientEmail" ng-model="user.email" minlength="6" maxlength="100" ng-pattern="/^.+@.+\..+$/">
			<div ng-messages="registerForm.clientEmail.$error" role="alert">
	          	<div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
            		Bitte geben Sie eine Emailadresse ein von der Länge 6 bis 100 Zeichen.
            	</div>
        	</div>        
    	</md-input-container>     	
	</div>
	
		
	<div layout="row" style="padding-top:40px">	
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 center">
			<md-button type="submit"> Registrieren </md-button>
		</div>
	</div>
	
	
	<div layout="row" style="padding-top:80px">    	  	
		<div>
			<div style="color:#106CC8"> Überprüfung: </div>
		</div>
	</div>
	
	
	<div layout="row"> 		
   		<div flex="30">
			<div> Name: {{user.name}} </div>
		</div>
	
		<div flex="30">
			<div> Rechte: {{user.rights}} </div>	
		</div>	
		
		<div flex="30">
			<div> Email: {{user.email}} </div>
		</div>		
	</div>
	
	
    </form>    
  </md-content>
</div>
