<div style="padding-top:60px" class="col-xs-12  col-sm-12  col-md-12  col-lg-12  col-xl-12 center md-title text-center" >
	Sie wurden abgemeldet.
</div>

<div style="padding-top:60px" class="col-xs-12  col-sm-12  col-md-12  col-lg-12  col-xl-12 center md-title text-center" >
	<a ui-sref="login" style="text-decoration: none; color: black" ui-sref-active="active"><md-button>Zur Anmeldung</md-button></a>	<br>
</div>	
