	<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6	col-xl-6">
		<md-content layout-padding>  
      		<md-card>
       			<img ng-src="../img/social.jpg" class="md-card-image" alt="social">
   			    <div style="padding-top:47px"></div>   			
       			<!-- title revenue and show percentage-->
      			<md-card-title style="padding-left:15px; padding-top:15px">
       				 <md-card-title-text>
        		 		<span class="md-headline">Social</span>
          			</md-card-title-text>
        		</md-card-title>
        		
      		</md-card>
      	</md-content>
	</div>
	
	<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6	col-xl-6">
		<md-content layout-padding>  
      		<md-card>
       			<img ng-src="../img/timeline.jpg" class="md-card-image" alt="timeline">   	      	
       			<!-- title revenue and show percentage-->
      			<md-card-title style="padding-left:15px; padding-top:15px">
       				 <md-card-title-text>
        		 		<span class="md-headline">Timeline</span>
          			</md-card-title-text>
        		</md-card-title>
        		
      		</md-card>
      	</md-content>
	</div>