<!--Graph, dieser graph bezieht seine Daten aus dem Call an die Datenbank-->


<style type="text/css">
#containerChAnalyticsGraph1, #sliders {
    min-width: 310px; 
    max-width: 800px;
    margin: 0 auto;
}
#containerChAnalyticsGraph3 {
    height: 400px; 
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}	
</style>

<script type="text/javascript">
$(function () {
    // Set up the chart
    var chart = new Highcharts.Chart({
        chart: {
            renderTo: 'containerChAnalyticsGraph1',
            type: 'column',
            options3d: {
                enabled: true,
                alpha: 15,
                beta: 15,
                depth: 50,
                viewDistance: 25
            }
        },
        
        loading: {
            labelStyle: {
                color: 'white'
            },
            style: {
                backgroundColor: 'gray'
            }
        },
        
        title: {
            text: ''
        },
        subtitle: {
            text: 'PageViews'
        },
        plotOptions: {
            column: {
                depth: 25
            }
        },
        xAxis: {
            min: 1,
         },
        series: [{
            data: []
        }],
        
    });

    function showValues() {
        $('#alpha-value').html(chart.options.chart.options3d.alpha);
        $('#beta-value').html(chart.options.chart.options3d.beta);
        $('#depth-value').html(chart.options.chart.options3d.depth);
    }

    // Activate the sliders
    $('#sliders input').on('input change', function () {
        chart.options.chart.options3d[this.id] = this.value;
        showValues();
        chart.redraw(false);
    });
    
    showValues();    
    
	$("#updateChart").click(function() {   	 		
		updateChart();
	});
	
	function getScope(ctrlName) {
    	var sel = 'div[ng-controller="' + ctrlName + '"]';
    	return angular.element(sel).scope();
	}
	
	function updateChart1() {   	 		
   		var chart=$("#containerChAnalyticsGraph1").highcharts();
   		   		
		var data = [];
		chart.series[0].setData(data,true); 
	}	
});
</script>

<div id="containerChAnalyticsGraph3"></div>

<div ng-controller="analyticsGraph1Ctrl" class="md-padding" ng-cloak>

<!-- on update send data to graph controller with graph name and update the coresponding graph -->
  <div>
    <h1 class="md-title">Metric</h1>
    <div layout="row">
      <md-input-container>
        <label>Metric</label>
        <md-select ng-model="selectedItem" md-selected-text="getSelectedText()">
          <md-optgroup label="items">
            <md-option ng-value="item" ng-repeat="item in items">Item {{item}}</md-option>
          </md-optgroup>
        </md-select>
      </md-input-container>
    </div>
  </div>
  
  <div>
    <h1 class="md-title">Dimension</h1>
    <div layout="row">
      <md-input-container>
        <label>Dimension</label>
        <md-select ng-model="selectedItem" md-selected-text="getSelectedText()">
          <md-optgroup label="items">
            <md-option ng-value="item" ng-repeat="item in items">Item {{item}}</md-option>
          </md-optgroup>
        </md-select>
      </md-input-container>
    </div>
  </div>
  
</div>

<!--
http://ahumbleopinion.com/highcharts-tips-accessing-chart-object-from-container-id/
http://jsfiddle.net/NxEnH/8/		
-->

