/* these are applied at breakpoint size */
/*            
@media screen and (max-width: 300px)  { 
	.titleEGutschein {font-size: 0.5em}
	.titleResponsive { font-size: 0.8em } 
	.textNatur   { margin-top: 10px; margin-bottom: 10px }
}            
            
@media screen and (min-width: 300px)  { 
	.titleEGutschein {font-size: 0.8em}
	.titleResponsive { font-size: 1.2em } 
	.textNatur   { margin-top: 20px; margin-bottom: 20px }  
}
            
@media screen and (min-width: 768px)  { 
	.titleEGutschein {font-size: 1.1em}
	.titleResponsive { font-size: 1.5em } 
	.textNatur   { margin-top: 30px; margin-bottom: 30px }
}
            
@media screen and (min-width: 920px) {
                
}
            
@media screen and (min-width: 992px)  { 
	.titleEGutschein { font-size: 1.5em}
	.titleResponsive { font-size: 1.8em } 
	.textNatur   { margin-top: 40px; margin-bottom: 40px }  
} 
            
@media screen and (min-width: 1200px) { 
	.titleEGutschein {font-size: 2.1em}
	.titleResponsive { font-size: 2.1em } 
	.textNatur   { margin-top: 65px; margin-bottom: 65px }  
}
*/
#logo{
	height:30px; 
	margin-top:10px;
	margin-left:15px;
}

#placeholder {
	padding-top:50px;	
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
}

.topnavmiddle {
    float: right;
}

.topnavleft {
    float: left;
}

.topnavright {
    float: right;
}

.hamburger {
    float: right;
    display: none;
	margin-top:15px;
	margin-right: 15px;
	height:30px;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    height: 50px;
}

ul.topnav li a:hover:not(.active) {background-color: #2C3539}

ul.topnav li a.active {background-color: #2C3539} /* border-bottom: 1px solid floralWhite*/
          
/*now comes the small nav*/

ul.smallnav {
	list-style-type: none;
	margin: 0;
    padding: 0;
	overflow: hidden;
	background-color: #000;
	display:none;
}

ul.smallnav li a {
	display: block;
	color: white;
	text-align: center;
	text-decoration: none;
	padding-top:10px;
	padding-bottom:10px;
}

ul.smallnav li a:hover:not(.active) {background-color: #2C3539}

ul.smallnav li a.active {background-color: #2C3539}


@media screen and (max-width: 1100px){
	.topnavright {float: none; display: none}
	.hamburger {display: block}
	.smallnav {display: block}
}     
 